body{
    background-color: #F2F4F4;
}

#brand-head{
    font-weight: bold;
    color: #27ae60;
}
#brand-icon{
    height: 25px;
    width: auto;
}

.nav{
    height: 50px;
    background-color: white;
    border-bottom: 4px solid #ABEBC6;
}

.sign-out{
    font-weight: 600;
}

.sign-out:hover{
    color: #e74c3c;
}

.item {
    color: gray;
    border-right: 1px solid lightgray;
}

.item:hover{
    color: #27ae60;
}

.box {
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid lightgray;
}
.inner-box {
    padding: 10px;
}