input[type=range]
{
    cursor: pointer;
}
tr:hover
{
    cursor: pointer;
    background-color: rgba(153,153,233,0.3);
    /*background: linear-gradient(to right, #ff6699 10%, #ff9966 77%);*/

}

.table-view
{
    background: rgba(204,204,255,0.3);
}
body
{
    background: #F2F4F4;
}
.welcome
{
    border-bottom: 2px solid rgb(204,204,255);
}
#row
{
    background-color: #F2F4F4;
    width: 6%;
}

#search-bg {
    position: absolute;
    height: 250px;
    width: 100%;
    background-color: #52BE80;
}

#search-box {
    background-color: white;
    border: 1px solid #D5DBDB;
    color: black;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
    outline: none;
}

#search-box {
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: left;
    text-indent: 25px;
}