.container1
{
    min-height: 100vh;
}
.welcome
{
    border-bottom: 2px solid darkseagreen;
}
strong
{
    color: darkseagreen;
}
.card:hover
{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}
.card
{
    box-shadow: 3px 3px ghostwhite;
}
#search-box {
    background-color: white;
    border: 1px solid #D5DBDB;
    color: black;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
    outline: none;
}

#search-box {
    background-image: url(http://asingh.greenriverdev.com/355/symposium/views/images/search.png);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 5px 7px;
    text-indent: 25px;
}

@media screen and (max-width: 720px) {
    .smallscreen {
        display: none;
    }
}