input[type=range]
{
    cursor: pointer;
}
tr:hover
{
    cursor: pointer;
    background-color: rgba(153,153,233,0.3);

}

.table-view
{
    background: rgba(204,204,255,0.3);
}
body
{
    background: #F2F4F4;
}
.welcome
{
    border-bottom: 2px solid rgb(204,204,255);
}
#row
{
    background-color: #F2F4F4;
    width: 6%;
}

#search-bg {
    position: absolute;
    height: 250px;
    width: 100%;
    background-color: #52BE80;
}

#search-box {
    background-color: white;
    border: 1px solid #D5DBDB;
    color: black;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
    outline: none;
}

#search-box {
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 8px 8px;
    text-indent: 25px;
}

/** slider **/
.range-slider:nth-child(odd){
    background-color: #eee;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.range-slider {
    width: 100%;
}
.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}
.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
}
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}
input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}
