<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{@BASE}}/views/styles/judgeLog.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Judge</title>
</head>
<body>
    <nav class="navbar navbar-toggleable-sm bg-light py-0 text-black welcome">
        <a class="navbar-brand"><img height="40vh" width="50vw" src="{{@BASE}}/views/images/judge.png"> <strong>Judge</strong> </a>
        <form class="form-inline">
            <a class="nav-item nav-link" href="" style="border-left: 1px solid red; color: red">Sign Out</a>
        </form>
    </nav>

    <div class="row">
        <div class="container col-sm-2 bg-light container1 smallscreen">
            <h4 class="m-3" id="{{@judgeid}}">All Competitions</h4>
        </div>
        <div class="container col-sm-10 offset-0 container1 border">
            <div class="container mt-4 mb-4">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <input class="" placeholder="Name" id="search-box" type="text" name="keyword" autofocus>
                    </div>
                </div> <!--search bar-->
            </div>
            <hr>
            <div class="container col-md-12">
                <div class="row">
                    <repeat group="{{ @competitions }}" value="{{ @competition}}">
                        <div class="col-md-3 ml-4 mt-4">
                            <div class="card" style="width: 18rem;" id="{{@competition}}">
                                <img class="card-img-top" src="{{@BASE}}/views/images/cardbg.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{@competition}}</h5>
                                    <small>Date Created On :</small>
                                </div>
                            </div>
                        </div>
                    </repeat>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    var judgeid = $("h4").attr('id');
    $(".card").click(function () {
        var selected = this.id;
        var selected = "http://asingh.greenriverdev.com/355/symposium/judge/" + judgeid + "/" + selected;
        location.href = selected;
    });
</script>
</html>